.image-upload {
  padding: 20px 20px 43px;
  gap: 16px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 1px 2px rgba(88, 88, 88, 0.15);
  border-radius: 6px;
  height: 177px;
  display: flex;
  justify-content: flex-start;
  border-radius: 4px;
  overflow: hidden;
}

.upload-image {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  padding: 6px 14px;
  gap: 10px;
  width: 150px;
  height: 40px;
  background: rgb(3, 201, 215) !important;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
